* {
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: #ffcb21;
  height: 100vh;
  font-family: monospace;
}

h1 {
  position: relative;
  text-transform: uppercase;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: calc(32px + 1vw);
}
.circle {
  position: absolute;
  width: calc(200px + 2vw);
  height: calc(200px + 2vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 50%;
  background-color: #61a0ff;
}

.time {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%);
  font-size: calc(30px + 0.8vw);
}

.buttons {
  position: absolute;
  width: 50vw;
  top: 20%;
  left: 25vw;
  right: 25vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

button {
  width: 25%;
  padding: 1%;
  text-align: center;
  font-size: calc(10px + 1vw);
  text-transform: uppercase;
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #213fff;
}

p {
  display: none;
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}

.laps {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 15px;
}

@media (min-width: 360px) and (orientation: landscape) {
  h1 {
    top: 7%;
    font-size: calc(16px + 1vw);
  }

  button {
    width: 22%;

    font-size: calc(10px + 1vw);
  }
  .circle {
    width: calc(90px + 4vw);
    height: calc(90px + 4vw);
  }

  .time {
    font-size: calc(12px + 0.8vw);
  }

  p {
    top: 70%;
    font-size: calc(12px + 1vw);
  }

  .laps {
    top: 77%;
    font-size: calc(10px + 1vw);
  }
}
@media (orientation: landscape) and (min-width: 640px) {
  .circle {
    width: calc(130px + 1vw);
    height: calc(130px + 1vw);
  }

  .time {
    font-size: calc(22px + 0.8vw);
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  h1 {
    font-size: calc(25px + 1vw);
  }

  .circle {
    width: calc(200px + 1vw);
    height: calc(200px + 1vw);
  }

  .time {
    font-size: calc(30px + 0.8vw);
  }

  p {
    top: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  h1 {
    font-size: calc(30px + 1vw);
  }

  .circle {
    width: calc(250px + 1vw);
    height: calc(250px + 1vw);
  }

  .time {
    font-size: calc(35px + 0.8vw);
  }

  p {
    top: 70%;
    font-size: calc(16px + 1vw);
  }
  .laps {
    top: 77%;
    font-size: calc(14px + 1vw);
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  h1 {
    font-size: calc(30px + 1vw);
  }

  .circle {
    width: calc(250px + 3vw);
    height: calc(250px + 3vw);
  }

  .time {
    font-size: calc(38px + 0.8vw);
  }

  p {
    top: 70%;
    font-size: calc(16px + 1vw);
  }

  .laps {
    top: 77%;
    font-size: calc(16px + 1vw);
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  h1 {
    font-size: calc(20px + 1vw);
  }

  .buttons {
    width: 70vw;
    left: 15vw;
    right: 15vw;
  }
  button {
    width: 28%;

    font-size: calc(10px + 1vw);
  }
  .circle {
    width: calc(180px + 4vw);
    height: calc(180px + 4vw);
  }

  .time {
    font-size: calc(24px + 2vw);
  }

  p {
    top: 70%;
    font-size: calc(16px + 1vw);
  }

  .laps {
    top: 77%;
    font-size: calc(14px + 1vw);
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  h1 {
    font-size: calc(30px + 1vw);
  }

  .circle {
    width: calc(250px + 4vw);
    height: calc(250px + 4vw);
  }

  .time {
    font-size: calc(30px + 2vw);
  }

  p {
    font-size: calc(20px + 1vw);
  }

  .laps {
    font-size: calc(18px + 1vw);
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  h1 {
    font-size: calc(40px + 1vw);
  }

  button {
    font-size: calc(22px + 1vw);
  }
  .circle {
    width: calc(350px + 4vw);
    height: calc(350px + 4vw);
  }

  .time {
    font-size: calc(35px + 2vw);
  }

  p {
    font-size: calc(28px + 1vw);
  }

  .laps {
    font-size: calc(25px + 1vw);
  }
}

@media (orientation: portrait) {
  .buttons {
    width: 60vw;
    top: 20%;
    left: 20vw;
    right: 20vw;
  }
}
